#app {
  height: 100%;
  background-color: #000;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#app::-webkit-scrollbar {
  width: 10px;
}
#app::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #444;
}
#app::-webkit-scrollbar-track-piece {
  background-color: #000;
}
.body {
  margin-top: 50px;
}
.toptext1 {
  animation: tt1 0.7s;
  overflow: hidden;
  margin-top: 0;
  opacity: 100;
}
.toptext2 {
  animation: tt2 0.7s;
  overflow: hidden;
  margin-top: -20px;
  opacity: 0;
}
.loading {
  width: 0.6em;
  display: block;
  overflow: hidden;
  animation: dot 1.5s infinite step-end;
}
@keyframes dot {
  33% {
    width: 1.3em;
  }
  66% {
    width: 2em;
  }
}
@keyframes tt1 {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 100;
  }
}
@keyframes tt2 {
  from {
    margin-top: 0;
    opacity: 100;
  }
  to {
    margin-top: -20px;
    opacity: 0;
  }
}
